html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #fefefe;
  color: #222;
}

main {
  flex: 1;
}

h1, h2, h3, h5 {
  font-weight: 700;
}

section {
  scroll-margin-top: 80px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.pub-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: border-color 0.2s ease-in-out;
}

.pub-card:hover {
  border-color: #0dcaf0;
}

.pub-card h6 {
  font-size: 1rem;
}

.pub-card p {
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.pub-card .btn {
  margin-top: auto;
}

.badge.bg-info {
  background-color: #d0f0ff !important;
  color: #00566b !important;
  font-weight: 500;
}

h5 {
  font-size: 1.1rem;
  font-weight: 700;
}